body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(121, 9, 9) 35%, rgb(255, 166, 0) 100%);
    font-family:  Helvetica, sans-serif, cursive;
    margin: 0px;
    font-size: 22px;
    line-height: 35px;
}

header{
    background: black;
    text-align: center;
    height: 526px;

}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}

header h1{
    color: #c3b488;
    font-size: 57px;
    letter-spacing: 44px;
    margin: 15px;
}

header img{
    border-radius: 0px;
    border: 3px solid #c3b488; 
    text-align: center;
}

main{
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
    }

h2{
    font-size: 23px;
    margin: 40px 0 10px;
}

a{
    color: rgb(219, 0, 0)
}
a:hover{
    color: rgb(255, 166, 0);
    background: black;
}

footer{
    background: black;
    color: #c3b488;
    text-align: center;
    padding: 50px;
}

p.caption{
    color: #d17131;
    font-style: italic;

}

